* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TODO: header styling */
/* TODO: add content to the items, maybe link up my work? */

.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  grid-template-rows: 0.5fr 0.75fr 2fr 2fr;
  min-height: 100vh; /* this removes the extra white space below footer*/
}

html {
  font-family: "Inter", sans-serif;
  color: #333;
}

/* HEADER */

.header {
  padding: 15px 30px;
  grid-column: 2 / -1;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  box-shadow: 0 4px 5px -2px #aaa;
}

.header__upper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
}

.header__upper--search {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-content: center;
  align-items: center;
}

.header__upper--search > img {
  justify-self: end;
  margin-right: 10px;
}

input[type="search"] {
  background-color: #dee5ed;
  border: none;
  height: 100%;
  border-radius: 50px;
}

.header__upper--user {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 20px;
  align-items: center;
  justify-items: center;
  white-space: nowrap;
  justify-content: end;
}

[alt$="icon"] {
  width: 25px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.user-profile {
  width: 50px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.user-profile--large {
  width: 75px;
}

.header__lower {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__lower--profile {
  display: grid;
  grid-template-columns: min-content 5fr;
  align-items: center;
  gap: 15px;
}

.header__lower--buttons {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 30px;
  align-content: center;
  justify-content: end;
  align-items: center;
  justify-items: center;
}

.header-buttons {
  outline: none;
  cursor: pointer;
  background-color: #2a8ac7;
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 120px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
}

/* NAVIGATION */

.nav {
  grid-row: 1 / -1;
  grid-column: 1 / 2;

  padding: 30px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 63px;

  background-color: #2a8ac7;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.nav__item,
.nav__lower {
  display: grid;
  gap: 15px;
}

.nav__item--container {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.nav__item--container:hover {
  color: #eee;
}

.nav__item--container:active {
  color: #ccc;
}

.nav__logo {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.nav-text {
  font-size: 26px;
}

/* MAIN - PROJECTS */

.main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px;
  background-color: #dee5ed;
  gap: 45px;
}

.main__projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: min-content;
  grid-auto-rows: minmax(min-content, 1fr);
  gap: 15px;
}

.main__projects--header {
  grid-column: 1 / -1;
  align-self: center;
  margin-bottom: -10px;
}

.main__projects--item {
  padding: 30px;
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: space-between;
  gap: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  border-left: 8px solid #eaa843;
}

.link-icons:hover {
  filter: brightness(600%);
}
.link-icons:active {
  filter: brightness(10%);
}

.main__projects--item-text > p {
  font-size: 14px;
  color: #777;
}

.main__projects--item-icons {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.main__projects--item-text {
  display: grid;
  gap: 15px;
}

/* MAIN - ANNOUNCEMENTS */

.main__aside--container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  gap: 16px;
}

.main__announcements--heading {
  margin-bottom: -10px;
  align-self: center;
}

.main__announcements {
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
}

.main__announcements--container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  position: relative;
}

.main__announcements--item-heading {
  font-weight: 700;
  font-size: 15px;
}

.main__announcements--container-item {
}

.main__announcements--container-item:first-child::after,
.main__announcements--container-item:nth-child(2)::after {
  content: "";
  position: absolute;
  background: #777;
  width: 100%;
  height: 1px;
}

.main__announcements--container-item:nth-child(2)::after {
  bottom: 33.3333333%;
}
.main__announcements--container-item:first-child::after {
  bottom: 66.6666666%;
}

.main__announcements--container-item p {
  font-size: 12px;
}

/* MAIN - TRENDING */

.main__trending {
  align-self: end;
}

.main__trending--container {
  display: grid;
  background-color: #fff;
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
  padding: 15px;
  border-radius: 5px;
}

.main__trending--container img {
  width: 60px;
}

.main__trending--heading {
  margin-bottom: -10px;
}

.main__trending--user {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 15px;
}

.main__trending--textbox p {
  font-size: 13px;
  color: #777;
}

.user-name {
  font-weight: 500;
}
