* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  grid-template-rows: 0.5fr 0.75fr 2fr 2fr;
}

html {
  font-family: "Inter", sans-serif;
  color: #333;
}

/* HEADER */

.header {
  grid-column: 2 / -1;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
}

.header__upper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
}

.header__upper--search {
  display: grid;
  grid-template-columns: 0.5fr 5fr;
  align-content: center;
  align-items: center;
}

.header__upper--user {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
}

[alt$="icon"] {
  width: 25px;
}

.user-profile {
  width: 50px;
}

.user-profile--large {
  width: 75px;
}

.header__lower {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__lower--profile {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  gap: 15px;
}

.header__lower--buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.header-buttons {
  outline: none;
  cursor: pointer;
  background-color: #2a8ac7;
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 120px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
}

/* NAVIGATION */

.nav {
  grid-row: 1 / -1;
  grid-column: 1 / 2;

  padding: 30px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 63px;

  background-color: #2a8ac7;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.nav__item,
.nav__lower {
  display: grid;
  gap: 15px;
}

.nav__item--container {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.nav__item--container:hover {
  color: #eee;
}

.nav__item--container:active {
  color: #ccc;
}

.nav__logo {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.nav-text {
  font-size: 26px;
}
